.span-bold{
    margin-right: 100px;
    font-weight: bold;
}
.span-sm-bold{
    margin-right:70px;
    font-weight: bold;
}
span{
    font-weight: bold;   
}
.MuiListItem-divider {
    height: 70px;
}